{% extends "base.html"%}

{%block content%}
    <section class="background_1">
        <div class="welcome_p">
            <h1>
                The Life of Sjoerd De Bruyn
            </h1>
            <p>
                Find out who Sjoerd De Bruyn is through his professional work, projects, autobiography, and 
                life expierences
            </p>
        <div>
    </section>
    <section class="background_2">
        <div ="home_redirects">
            <h2><a href="my_story">My Story</h2>
            <h2><a href="about/auto_bio.html">My Professional Work</h2>
            <h2><a href="about/auto_bio.html">My Projects</h2>
            <h2><a href="about/auto_bio.html">My Skills and Accomplishements</h2>
        <div> 
    </section>
{%endblock%}